/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a.external,
#bodyContent a[href^="gopher://"] {
	background: url(external.png) center right no-repeat;
	padding: 0 13px;
}
.rtl #bodyContent a.external {
	background-image: url(external-rtl.png);
}
#bodyContent a[href^="https://"],
.link-https {
	background: url(lock_icon.gif) center right no-repeat;
	padding: 0 16px;
}
#bodyContent a[href^="mailto:"],
.link-mailto {
	background: url(mail_icon.gif) center right no-repeat;
	padding: 0 18px;
}
#bodyContent a[href^="news://"] {
	background: url(news_icon.png) center right no-repeat;
	padding: 0 18px;
}
#bodyContent a[href^="ftp://"],
.link-ftp {
	background: url(file_icon.gif) center right no-repeat;
	padding: 0 18px;
}
#bodyContent a[href^="irc://"],
#bodyContent a.extiw[href^="irc://"],
.link-irc {
	background: url(discussionitem_icon.gif) center right no-repeat;
	padding: 0 18px;
}
#bodyContent a.external[href$=".ogg"], #bodyContent a.external[href$=".OGG"],
#bodyContent a.external[href$=".mid"], #bodyContent a.external[href$=".MID"],
#bodyContent a.external[href$=".midi"], #bodyContent a.external[href$=".MIDI"],
#bodyContent a.external[href$=".mp3"], #bodyContent a.external[href$=".MP3"],
#bodyContent a.external[href$=".wav"], #bodyContent a.external[href$=".WAV"],
#bodyContent a.external[href$=".wma"], #bodyContent a.external[href$=".WMA"],
.link-audio {
	background: url("audio.png") center right no-repeat;
	padding: 0 13px;
}
#bodyContent a.external[href$=".ogm"], #bodyContent a.external[href$=".OGM"],
#bodyContent a.external[href$=".avi"], #bodyContent a.external[href$=".AVI"],
#bodyContent a.external[href$=".mpeg"], #bodyContent a.external[href$=".MPEG"],
#bodyContent a.external[href$=".mpg"], #bodyContent a.external[href$=".MPG"],
.link-video {
	background: url("video.png") center right no-repeat;
	padding: 0 13px;
}
#bodyContent a.external[href$=".pdf"], #bodyContent a.external[href$=".PDF"],
#bodyContent a.external[href*=".pdf#"], #bodyContent a.external[href*=".PDF#"],
#bodyContent a.external[href*=".pdf?"], #bodyContent a.external[href*=".PDF?"],
.link-document {
	background: url("document.png") center right no-repeat;
	padding: 0 12px;
}
