#column-content {
  width: 100%;
  float: right;
  margin: 97px 0 0.6em -12.2em;
  padding: 0;
}
#content {
  margin: 2.8em 0 0 12.2em;
  padding: 0 1em 1em 1em;
  position: relative;
  z-index: 2;
}
#column-one { padding-top: 160px; }
#content {
  background: #e3e0d6;
  color: #1a006d;
  border: 2px solid #732f2f;
  border-right: none;
  line-height: 1.5em;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
body {
  font: x-small sans-serif;
#  background: #2c4081 url(headbg.png) 0 0 no-repeat;
  background: #2c4081 url(/wiki-banner-blue.png) 0 0 no-repeat;
  color: #1a006d;
  margin: 0;
  padding: 0;
}
#globalWrapper {
  font-size: 127%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.visualClear { clear: both; }
table {
  font-size: 100%;
  color: black;
  background-color: white;
  padding-right: 15px;
}
table.bordered { border: 2px solid #732f2f; }
fieldset table { background: none; }
a {
  color: #006bc2;
  font-weight: bold;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
a:active { color: #1b0f4f; }
a.new { color: #5f3f3e; }
#p-personal a.new { color: #E3E0D6; }
a.new:visited { color: #a04016; }
#p-personal a.new:visited { color: #a04016; }
.portlet li a { color: #0076d6; }
img {
  border: none;
  vertical-align: middle;
}
p {
  margin: 0.4em 0 0.5em 0;
  line-height: 1.5em;
}
p img { margin: 0; }
hr {
  height: 1px;
  color: #aaaaaa;
  background-color: #aaaaaa;
  border: 0;
  margin: 0.2em 0 0.2em 0;
}
h1, h2, h3, h4, h5, h6 {
  color: #1b0f4f;
  background: none;
  font-weight: normal;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  border-bottom: 1px solid #1a006d;
}
h1 { font-size: 188%; }
h1 .editsection { font-size: 53%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 {
  border-bottom: none;
  font-weight: bold;
}
h3 { font-size: 132%; }
h3 .editsection {
  font-size: 76%;
  font-weight: normal;
}
h4 { font-size: 116%; }
h4 .editsection {
  font-size: 86%;
  font-weight: normal;
}
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%; }
h6 .editsection {
  font-size: 125%;
  font-weight: normal;
}
ul {
  line-height: 1.5em;
  list-style-type: square;
  margin: 0.3em 0 0 1.5em;
  padding: 0;
  list-style-image: url(bullet.gif);
}
ol {
  line-height: 1.5em;
  margin: 0.3em 0 0 3.2em;
  padding: 0;
  list-style-image: none;
}
li { margin-bottom: 0.1em; }
dt {
  font-weight: bold;
  margin-bottom: 0.1em;
}
dl {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
dd {
  line-height: 1.5em;
  margin-left: 2em;
  margin-bottom: 0.1em;
}
fieldset {
  border: 1px solid #1a006d;
  margin: 1em 0 1em 0;
  padding: 0 1em 1em;
  line-height: 1.5em;
}
fieldset.nested {
  margin: 0 0 0.5em 0;
  padding: 0 0.5em 0.5em;
}
legend {
  padding: 0.5em;
  font-size: 95%;
}
form {
  border: none;
  margin: 0;
}
textarea {
  width: 100%;
  padding: 0.1em;
}
input.historysubmit {
  padding: 0 0.3em 0.3em 0.3em !important;
  font-size: 94%;
  cursor: pointer;
  height: 1.7em !important;
  margin-left: 1.6em;
}
select { vertical-align: top; }
abbr, acronym, .explain {
  border-bottom: 1px dotted black;
  color: black;
  background: none;
  cursor: help;
}
q {
  font-family: Times, "Times New Roman", serif;
  font-style: italic;
}
code { background-color: #f9f9f9; }
pre {
  padding: 1em;
  border: 1px dashed #2f6fab;
  color: black;
  background-color: #f9f9f9;
  line-height: 1.1em;
}
#siteSub, #jump-to-nav { display: none; }
#contentSub, #contentSub2 {
  font-size: 84%;
  line-height: 1.2em;
  margin: 0 0 1.4em 1em;
  color: #7d7d7d;
  width: auto;
}
span.subpages { display: block; }
#bodyContent h1 { margin-bottom: 0.6em; }
#bodyContent h2 { margin-bottom: 0.6em; }
#bodyContent h3 { margin-bottom: 0.3em; }
#bodyContent h4 { margin-bottom: 0.3em; }
#bodyContent h5 { margin-bottom: 0.3em; }
#firstHeading {
  margin-bottom: 0.1em;
  line-height: 1.2em;
  padding-bottom: 0;
}
.usermessage {
  background-color: #ffce7b;
  border: 2px solid #732f2f;
  color: black;
  font-weight: bold;
  margin: 2em 0 1em;
  padding: 0.5em 1em;
  vertical-align: middle;
}
#siteNotice {
  text-align: center;
  font-size: 95%;
  padding: 0 0.9em;
}
#siteNotice p {
  margin: 0;
  padding: 0;
}
.success {
  color: green;
  font-size: larger;
}
.error {
  color: red;
  font-size: larger;
}
.errorbox, .successbox {
  font-size: larger;
  border: 2px solid;
  padding: 0.5em 1em;
  float: left;
  margin-bottom: 2em;
}
.errorbox {
  border-color: red;
  background-color: #fff2f2;
}
.successbox {
  border-color: green;
  background-color: #ddffdd;
}
.errorbox h2 {
  font-size: 1em;
  font-weight: bold;
  display: inline;
  margin: 0 0.5em 0 0;
  border: none;
}
.successbox h2 {
  font-size: 1em;
  font-weight: bold;
  display: inline;
  margin: 0 0.5em 0 0;
  border: none;
}
.catlinks {
  border: 2px solid #0076d6;
  background-color: #e3e0d6;
  padding: 5px;
  margin-top: 1em;
  clear: both;
}
.documentDescription {
  font-weight: bold;
  display: block;
  margin: 1em 0;
  line-height: 1.5em;
}
.documentByLine {
  text-align: right;
  font-size: 90%;
  clear: both;
  font-weight: normal;
  color: #76797c;
}
.center {
  width: 100%;
  text-align: center;
}
*.center * {
  margin-left: auto;
  margin-right: auto;
}
.small { font-size: 94%; }
.small * { font-size: 94%; }
table.small { font-size: 100%; }
#toc, .toc, .mw-warning {
  border: 2px solid #0076d6;
  background-color: white;
  padding: 5px;
  font-size: 95%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#toc h2 {
  display: inline;
  border: none;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}
.toc h2 {
  display: inline;
  border: none;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}
#toc #toctitle { text-align: center; }
.toc #toctitle { text-align: center; }
#toc .toctitle { text-align: center; }
.toc .toctitle { text-align: center; }
#toc ul {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}
.toc ul {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}
#toc ul ul { margin: 0 0 0 2em; }
.toc ul ul { margin: 0 0 0 2em; }
#toc .toctoggle { font-size: 94%; }
.toc .toctoggle { font-size: 94%; }
.mw-warning {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
div.floatright, table.floatright {
  clear: right;
  float: right;
  position: relative;
  margin: 0 0 0.5em 0.5em;
  border: 0;
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
  float: left;
  clear: left;
  position: relative;
  margin: 0 0.5em 0.5em 0;
  border: 0;
}
div.floatleft p { font-style: italic; }
div.thumb {
  color: white;
  padding: 10px;
  margin-bottom: 0.5em;
  width: auto;
}
div.thumbinner {
  border: 1px solid #1a006d;
  padding: 3px !important;
  background-color: #e3e0d6;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
}
html .thumbimage { border: 1px solid #1a006d; }
html .thumbcaption {
  border: none;
  text-align: left;
  line-height: 1.4em;
  padding: 3px !important;
  font-size: 94%;
  color: #1a006d;
}
div.magnify {
  float: right;
  border: none !important;
  background: none !important;
}
div.magnify a {
  display: block;
  border: none !important;
  background: none !important;
}
div.magnify img {
  display: block;
  border: none !important;
  background: none !important;
}
div.tright {
  clear: right;
  float: right;
  border-width: 0.5em 0 0.8em 1.4em;
}
div.tleft {
  float: left;
  clear: left;
  margin-right: 0.5em;
  border-width: 0.5em 1.4em 0.8em 0;
}
img.thumbborder { border: 1px solid #1a006d; }
.hiddenStructure { display: none; }
table.rimage {
  float: right;
  position: relative;
  margin-left: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.toccolours {
  border: 1px solid #1a006d;
  background-color: #e3e0d6;
  padding: 5px;
  font-size: 95%;
}
.special li {
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
#bodyContent a.external {
  background: url(external.png) center right no-repeat;
  padding: 0 13px;
}
#bodyContent a[href^="gopher://"] {
  background: url(external.png) center right no-repeat;
  padding: 0 13px;
}
.rtl #bodyContent a.external { background-image: url(external-rtl.png); }
#bodyContent a[href^="https://"] {
  background: url(lock_icon.gif) center right no-repeat;
  padding: 0 16px;
}
.link-https {
  background: url(lock_icon.gif) center right no-repeat;
  padding: 0 16px;
}
#bodyContent a[href^="mailto:"] {
  background: url(mail_icon.gif) center right no-repeat;
  padding: 0 18px;
}
.link-mailto {
  background: url(mail_icon.gif) center right no-repeat;
  padding: 0 18px;
}
#bodyContent a[href^="news://"] {
  background: url(news_icon.png) center right no-repeat;
  padding: 0 18px;
}
#bodyContent a[href^="ftp://"] {
  background: url(file_icon.gif) center right no-repeat;
  padding: 0 18px;
}
.link-ftp {
  background: url(file_icon.gif) center right no-repeat;
  padding: 0 18px;
}
#bodyContent a[href^="irc://"] {
  background: url(discussionitem_icon.gif) center right no-repeat;
  padding: 0 18px;
}
#bodyContent a.extiw[href^="irc://"] {
  background: url(discussionitem_icon.gif) center right no-repeat;
  padding: 0 18px;
}
.link-irc {
  background: url(discussionitem_icon.gif) center right no-repeat;
  padding: 0 18px;
}
#bodyContent a.external[href$=".ogg"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".OGG"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".mid"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".MID"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".midi"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".MIDI"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".mp3"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".MP3"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".wav"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".WAV"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".wma"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".WMA"] {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
.link-audio {
  background: url("audio.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".ogm"] {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".OGM"] {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".avi"] {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".AVI"] {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".mpeg"] {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".MPEG"] {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".mpg"] {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".MPG"] {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
.link-video {
  background: url("video.png") center right no-repeat;
  padding: 0 13px;
}
#bodyContent a.external[href$=".pdf"] {
  background: url("document.png") center right no-repeat;
  padding: 0 12px;
}
#bodyContent a.external[href$=".PDF"] {
  background: url("document.png") center right no-repeat;
  padding: 0 12px;
}
#bodyContent a.external[href*=".pdf#"] {
  background: url("document.png") center right no-repeat;
  padding: 0 12px;
}
#bodyContent a.external[href*=".PDF#"] {
  background: url("document.png") center right no-repeat;
  padding: 0 12px;
}
#bodyContent a.external[href*=".pdf?"] {
  background: url("document.png") center right no-repeat;
  padding: 0 12px;
}
#bodyContent a.external[href*=".PDF?"] {
  background: url("document.png") center right no-repeat;
  padding: 0 12px;
}
.link-document {
  background: url("document.png") center right no-repeat;
  padding: 0 12px;
}
.rtl #bodyContent a.external {
  background-position: left;
  padding-right: 0;
}
.rtl a.feedlink {
  background-position: right;
  padding-right: 16px;
  padding-left: 0;
}
.ltr #bodyContent a.external { padding-left: 0; }
#bodyContent a.extiw {
  color: #006bc2;
  background: none;
  padding: 0;
}
#bodyContent a.extiw:active {
  color: #006bc2;
  background: none;
  padding: 0;
}
#bodyContent a.external { color: #006bc2; }
#bodyContent .plainlinks a {
  background: none !important;
  padding: 0 !important;
}
.portlet {
  border: none;
  margin: 0 2px 0.5em;
  padding: 0;
  float: none;
  width: 11.6em;
  overflow: hidden;
  background: transparent;
}
.portlet h4 {
  font-size: 95%;
  font-weight: normal;
  white-space: nowrap;
}
.portlet h5 {
  background: transparent;
  padding: 0 1em 0 0.5em;
  display: inline;
  height: 1em;
  text-transform: lowercase;
  font-size: 91%;
  font-weight: normal;
  white-space: nowrap;
  color: white;
}
.portlet h6 {
  background: #ffae2e;
  border: 1px solid #1a006d;
  border-style: solid solid none solid;
  padding: 0 1em 0 1em;
  text-transform: lowercase;
  display: block;
  font-size: 1em;
  height: 1.2em;
  font-weight: normal;
  white-space: nowrap;
}
.pBody {
  font-size: 95%;
  background: white;
  color: black;
  border-collapse: collapse;
  border: 2px solid #577fff;
  padding: 0 0.8em 0.3em 0.5em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.portlet h1 {
  margin: 0;
  padding: 0;
}
.portlet h2 {
  margin: 0;
  padding: 0;
}
.portlet h3 {
  margin: 0;
  padding: 0;
}
.portlet h4 {
  margin: 0;
  padding: 0;
}
.portlet ul {
  line-height: 1.5em;
  list-style-type: square;
  list-style-image: url(bullet.gif);
  font-size: 95%;
}
.portlet li {
  padding: 0;
  margin: 0;
}
#p-logo {
  top: -10px;
  left: 230px;
  position: absolute;
  z-index: 3;
  height: 130px;
  width: 256px;
  #height: 125px;
  #width: 11.5em;
  overflow: visible;
  #background: white;
  #border: 2px solid #0076d6;
  border: none;
  #-webkit-border-radius: 20px;
  #-moz-border-radius: 20px;
  #border-radius: 20px;
}
#p-logo h5 { display: none; }
#p-logo a {
  display: block;
  height: 130px;
  #width: 11.7em;
  background-repeat: no-repeat;
  background-position: 35% 50% !important;
  text-decoration: none;
}
#p-logo a:hover {
  display: block;
  #height: 125px;
  #width: 11.7em;
  background-repeat: no-repeat;
  background-position: 35% 50% !important;
  text-decoration: none;
}
#p-search {
  position: relative;
  margin-top: -40px;
  z-index: 3;
}
input.searchButton {
  margin-top: 1px;
  font-size: 95%;
}
#searchGoButton {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}
#searchInput {
  width: 10.9em;
  margin: 0;
  font-size: 95%;
}
#p-search .pBody {
  padding: 0.5em 0.4em 0.4em 0.4em;
  text-align: center;
}
#p-search #searchform div div {
  margin-top: 0.4em;
  font-size: 95%;
}
#p-personal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
#p-personal {
  width: 100%;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  overflow: visible;
  line-height: 1.2em;
}
#p-personal h5 { display: none; }
#p-personal .portlet {
  z-index: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible;
  background: none;
}
#p-personal .pBody {
  z-index: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible;
  background: none;
}
#p-personal ul {
  border: none;
  line-height: 1.4em;
  color: #2f6fab;
  padding: 0 2em 0 3em;
  margin: 0;
  text-align: right;
  list-style: none;
  z-index: 0;
  background: none;
  cursor: default;
}
#p-personal li {
  z-index: 0;
  border: none;
  padding: 0;
  display: inline;
  color: #2f6fab;
  margin-left: 1em;
  line-height: 1.2em;
  background: none;
}
#p-personal li a {
  color: grey;
  padding-bottom: 0.2em;
  background: none;
}
#p-personal li a:hover {
  padding-bottom: 0.2em;
}
#p-personal li.active a:hover { background-color: transparent; }
li#pt-userpage, li#pt-anonuserpage, li#pt-login {
  background: url(user.gif) top left no-repeat;
  padding-left: 20px;
  text-transform: none;
}
#p-personal ul { text-transform: lowercase; }
#p-personal li.active { font-weight: bold; }
#p-cactions {
  position: absolute;
  top: 1.3em;
  left: 11.5em;
  margin: 0;
  white-space: nowrap;
  width: 76%;
  line-height: 1.1em;
  overflow: visible;
  background: none;
  border-collapse: collapse;
  padding-left: 1em;
  list-style: none;
  font-size: 95%;
}
#p-cactions ul { list-style: none; }
#p-cactions li {
  display: inline;
  border: 2px solid #732f2f;
  border-bottom: none;
  background-color: #0076d6;
  padding: 0 0 0.2em 0;
  margin: 0 0.3em 0 0;
  overflow: visible;
}
#p-cactions li.selected {
  background-color: #732f2f;
  border: 2px solid #732f2f;
  padding: 0 0 0.2em 0;
  font-weight: bold;
}
#p-cactions li a {
  background-color: #e3e0d6;
  color: #006bc2;
  border: none;
  padding: 0 0.8em 0.3em;
  position: relative;
  z-index: 0;
  margin: 0;
  text-decoration: none;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#p-cactions li.selected a {
  z-index: 3;
  color: #e3e0d6;
  background-color: #732f2f;
  padding: 0 1em 0.2em !important;
}
#p-cactions .new a { color: #ba0000; }
#p-cactions li a:hover {
  z-index: 3;
  text-decoration: none;
  color: #e3e0d6;
  background-color: #ac4646;
}
#p-cactions h5 { display: none; }
#p-cactions li {
  background: #e3e0d6;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#p-cactions li.istalk { margin-right: 0; }
#p-cactions li.istalk a { padding-right: 0.5em; }
#p-cactions #ca-addsection a {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
li#ca-talk { margin-right: 1.6em; }
li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print { margin-left: 1.6em; }
#p-cactions .pBody {
  font-size: 1em;
  background-color: transparent;
  color: inherit;
  border-collapse: inherit;
  border: 0;
  padding: 0;
  margin-top: 97px;
}
#p-cactions .hiddenStructure { display: none; }
#p-cactions li a { text-transform: lowercase; }
#p-lang {
  position: relative;
  z-index: 3;
}
#t-ispermalink, #t-iscite { color: #999999; }
#footer {
  background-color: white;
  border-top: 2px solid #732f2f;
  border-bottom: 2px solid #732f2f;
  margin: 0.6em 0 1em 0;
  padding: 0.4em 0 1.2em 0;
  text-align: center;
  font-size: 90%;
}
#footer li {
  display: inline;
  margin: 0 1.3em;
}
#f-poweredbyico, #f-copyrightico {
  margin: 0 8px;
  position: relative;
  top: -2px;
}
#f-poweredbyico {
  float: right;
  height: 1%;
}
#f-copyrightico {
  float: left;
  height: 1%;
}
#preftoc {
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
}
#preftoc li { background-color: #f0f0f0; }
#preftoc li {
  margin: 1px -2px 1px 2px;
  float: left;
  padding: 2px 0 3px 0;
  border: 1px solid #1a006d;
  border-bottom: 0;
  position: relative;
  white-space: nowrap;
  list-style-type: none;
  list-style-image: none;
  z-index: 3;
}
#preftoc li.selected {
  font-weight: bold;
  background-color: #e3e0d6;
  border: 1px solid #1a006d;
  border-bottom: none;
  cursor: default;
  top: 1px;
  padding-top: 2px;
  margin-right: -3px;
}
#preftoc > li.selected { top: 2px; }
#preftoc a {
  display: block;
  padding: 0 0.7em;
  position: relative;
  text-decoration: none;
}
#preftoc a:active {
  display: block;
  padding: 0 0.7em;
  position: relative;
  text-decoration: none;
}
#preftoc li.selected a {
  cursor: default;
  text-decoration: none;
}
#prefcontrol {
  padding-top: 2em;
  clear: both;
}
#preferences {
  margin: 0;
  border: 1px solid #1a006d;
  clear: both;
  padding: 1.5em;
  background-color: #e3e0d6;
}
.prefsection {
  border: none;
  padding: 0;
  margin: 0;
}
.prefsection fieldset {
  border: 1px solid #1a006d;
  float: left;
  margin-right: 2em;
}
.prefsection legend { font-weight: bold; }
.prefsection table { background-color: #e3e0d6; }
.prefsection legend { background-color: #e3e0d6; }
.mainLegend { display: none; }
div.prefsectiontip {
  font-size: x-small;
  padding: 0.2em 2em;
  color: #666666;
}
.btnSavePrefs {
  font-weight: bold;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.preferences-login {
  clear: both;
  margin-bottom: 1.5em;
}
.prefcache {
  font-size: 90%;
  margin-top: 2em;
}
div#userloginForm form {
  margin: 0 3em 1em 0;
  border: 1px solid #1a006d;
  clear: both;
  padding: 1.5em 2em;
  background-color: #e3e0d6;
  float: left;
}
div#userlogin form#userlogin2 {
  margin: 0 3em 1em 0;
  border: 1px solid #1a006d;
  clear: both;
  padding: 1.5em 2em;
  background-color: #e3e0d6;
  float: left;
}
.rtl div#userloginForm form { float: right; }
.rtl div#userlogin form#userlogin2 { float: right; }
div#userloginForm table { background-color: #e3e0d6; }
div#userlogin form#userlogin2 table { background-color: #e3e0d6; }
div#userloginForm h2 { padding-top: 0; }
div#userlogin form#userlogin2 h2 { padding-top: 0; }
div#userlogin .captcha {
  border: 1px solid #1a006d;
  padding: 1.5em 2em;
  background-color: white;
}
div#userloginForm .captcha {
  border: 1px solid #1a006d;
  padding: 1.5em 2em;
  background-color: white;
}
#loginend, #signupend { clear: both; }
#userloginprompt, #languagelinks { font-size: 85%; }
#login-sectiontip {
  font-size: 85%;
  line-height: 1.2;
  padding-top: 2em;
}
#userlogin .loginText { width: 12em; }
#userlogin .loginPassword { width: 12em; }
#userloginlink a { font-weight: bold; }
#wpLoginattempt, #wpCreateaccount { font-weight: bold; }
* > html #p-cactions li { border: none; }
* > html #p-cactions li a {
  border: 1px solid #1a006d;
  border-bottom: none;
}
* > html #p-cactions li.selected a { border-color: #fabd23; }
* > html #f-poweredbyico { width: 88px; }
* > html #f-copyrightico { width: 88px; }
* > html #bodyContent {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 25px;
}
* > html #bodyContent pre {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 25px;
}
* html #footer { margin-top: 0; }
* html #column-content {
  display: inline;
  margin-bottom: 0;
}
* html div.editsection { font-size: smaller; }
#pagehistory li.selected { position: relative; }
* > html #column-content { float: none; }
* > html #column-one {
  position: absolute;
  left: 0;
  top: 0;
}
* > html #footer { margin-left: 13.2em; }
.redirectText {
  font-size: 150%;
  margin: 5px;
}
.printfooter { display: none; }
.not-patrolled { background-color: #ffffaa; }
div.patrollink {
  clear: both;
  font-size: 75%;
  text-align: right;
}
span.newpage, span.minor, span.bot { font-weight: bold; }
span.unpatrolled {
  font-weight: bold;
  color: red;
}
.sharedUploadNotice { font-style: italic; }
span.updatedmarker {
  color: black;
  background-color: #00ff00;
}
table {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
table.gallery {
  border: 1px solid #1a006d;
  margin: 2px;
  padding: 2px;
  background-color: white;
}
table.gallery tr { vertical-align: top; }
table.gallery td {
  vertical-align: top;
  background-color: #e3e0d6;
  border: 2px solid #0076d6;
}
table.gallery td.galleryheader {
  text-align: center;
  font-weight: bold;
}
table.gallery caption { font-weight: bold; }
div.gallerybox { margin: 2px; }
div.gallerybox div.thumb {
  text-align: center;
  border: 1px solid #1a006d;
  margin: 2px;
}
div.gallerytext {
  overflow: hidden;
  font-size: 94%;
  padding: 2px 4px;
}
span.comment { font-style: italic; }
span.changedby { font-size: 95%; }
.previewnote {
  text-indent: 3em;
  color: #cc0000;
  border-bottom: 1px solid #1a006d;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.previewnote p {
  margin: 0;
  padding: 0;
}
.editExternally {
  border: 1px solid #1a006d;
  background-color: #ffffff;
  padding: 3px;
  margin-top: 0.5em;
  float: left;
  font-size: small;
  text-align: center;
}
.editExternallyHelp {
  font-style: italic;
  color: gray;
}
.toggle {
  margin-left: 2em;
  text-indent: -2em;
}
table.mw_metadata {
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 300px;
}
table.mw_metadata caption { font-weight: bold; }
table.mw_metadata th { font-weight: normal; }
table.mw_metadata td { padding: 0.1em; }
table.mw_metadata {
  border: none;
  border-collapse: collapse;
}
table.mw_metadata td {
  text-align: center;
  border: 1px solid #1a006d;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
table.mw_metadata th {
  text-align: center;
  border: 1px solid #1a006d;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
table.mw_metadata th { background-color: #e3e0d6; }
table.mw_metadata td { background-color: #fcfcfc; }
table.collapsed tr.collapsable { display: none; }
ul#filetoc {
  text-align: center;
  border: 1px solid #1a006d;
  background-color: #e3e0d6;
  padding: 5px;
  font-size: 95%;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
}
#filetoc li {
  display: inline;
  list-style-type: none;
  padding-right: 2em;
}
input#wpSummary { width: 80%; }
input#wpSave, input#wpDiff { margin-right: 0.33em; }
#wpSave { font-weight: bold; }
table.revisionform_default { border: 1px solid #1a006d; }
table.revisionform_focus {
  border: 1px solid #1a006d;
  background-color: #00bbff;
}
tr.revision_tr_default { background-color: #eeeeee; }
tr.revision_tr_first { background-color: #dddddd; }
p.revision_saved {
  color: green;
  font-weight: bold;
}
#mw_trackbacks {
  border: 1px solid #1a006d;
  background-color: #eeeeff;
  padding: 0.2em;
}
#allmessagestable th { background-color: #b2b2ff; }
#allmessagestable tr.orig { background-color: #ffe2e2; }
#allmessagestable tr.new { background-color: #e2ffe2; }
#allmessagestable tr.def { background-color: #f0f0ff; }
div.noarticletext {
  border: 1px solid #1a006d;
  background: #ffffff;
  padding: 0.2em 1em;
}
div#searchTargetContainer {
  left: 10px;
  top: 10px;
  width: 90%;
  background: white;
}
div#searchTarget {
  padding: 3px;
  margin: 5px;
  background: #f0f0f0;
  border: solid 1px blue;
}
div#searchTarget ul li { list-style: none; }
div#searchTarget ul li:before {
  color: orange;
  content: "\00BB \0020";
}
div#searchTargetHide {
  float: right;
  border: 1px solid #1a006d;
  background: #dcdcdc;
  padding: 2px;
}
#powersearch p { margin-top: 0px; }
div.multipageimagenavbox {
  border: solid 1px silver;
  padding: 4px;
  margin: 1em;
  background: #f0f0f0;
}
div.multipageimagenavbox div.thumb {
  border: none;
  margin-left: 2em;
  margin-right: 2em;
}
div.multipageimagenavbox hr { margin: 6px; }
table.multipageimage td { text-align: center; }
table#sv-ext, table#sv-hooks, table#sv-software {
  margin: 1em;
  padding: 0em;
}
#sv-ext td {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
#sv-hooks td {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
#sv-software td {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
#sv-ext th {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
#sv-hooks th {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
#sv-software th {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
#sv-ext th {
  background-color: #f0f0f0;
  color: black;
  padding: 0 0.15em 0 0.15em;
}
#sv-hooks th {
  background-color: #f0f0f0;
  color: black;
  padding: 0 0.15em 0 0.15em;
}
#sv-software th {
  background-color: #f0f0f0;
  color: black;
  padding: 0 0.15em 0 0.15em;
}
tr.sv-space {
  height: 0.8em;
  border: none;
}
tr.sv-space td { display: none; }
.TablePager { min-width: 80%; }
.TablePager_nav a { text-decoration: none; }
.TablePager { border-collapse: collapse; }
.TablePager {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
.TablePager td {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
.TablePager th {
  border: 1px solid #1a006d;
  padding: 0 0.15em 0 0.15em;
}
.TablePager th { background-color: #1a006d; }
.TablePager td { background-color: white; }
.TablePager tr:hover td { background-color: #1a006d; }
.imagelist td { white-space: nowrap; }
.imagelist th { white-space: nowrap; }
.imagelist .TablePager_col_links { background-color: #eeeeff; }
.imagelist .TablePager_col_img_description { white-space: normal; }
.imagelist th.TablePager_sort { background-color: #ccccff; }
.templatesUsed { margin-top: 1.5em; }
.mw-summary-preview { margin: 0.1em 0; }
div.mw-lag-warn-normal, div.mw-lag-warn-high {
  padding: 3px;
  text-align: center;
  margin: 3px auto;
}
div.mw-lag-warn-normal {
  border: 1px solid #ffcc66;
  background-color: #ffffcc;
}
div.mw-lag-warn-high {
  font-weight: bold;
  border: 2px solid #ff0033;
  background-color: #ffcccc;
}
.MediaTransformError {
  background-color: #cccccc;
  padding: 0.1em;
}
.MediaTransformError td {
  text-align: center;
  vertical-align: middle;
  font-size: 90%;
}
div#mw-search-interwiki-caption {
  text-align: center;
  font-weight: bold;
  font-size: 95%;
}
.mw-search-interwiki-project {
  font-size: 97%;
  text-align: left;
  padding-left: 0.2em;
  padding-right: 0.15em;
  padding-bottom: 0.2em;
  padding-top: 0.15em;
  background: #cae8ff;
}
.os-suggest { font-size: 127%; }
