<!-- Header -->
<header id="header">
  <a href="/" class="logo"><strong>{{ site.title | escape }}</strong>{% if page.title %} <i class="fa fa-angle-right fa-fw"></i> {{ page.title | escape }}{% endif %}</a>
  <ul class="icons">
    <li><a href="/doc/" class="icon fa-book"><span class="label">Documentation</span></a></li>
    <li><a href="/faq.html" class="icon fa-question-circle"><span class="label">FAQ</span></a></li>
    <li><a href="/help.html" class="icon fa-life-ring"><span class="label">Help</span></a></li>
    <li><a href="/quickstart.html" class="icon fa-bolt"><span class="label">Quickstart</span></a></li>
    <li><a href="/developers.html" class="icon fa-code-fork"><span class="label">Developers</span></a></li>
    <li><a href="/wiki/" class="icon fa-archive"><span class="label">Wiki</span></a></li>
  </ul>
</header>
