<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">
    
	<!-- Search -->
	<section id="search" class="alt">
      <a href="/">
        {% image clusterlabs3.svg width:160px class:centered alt:'ClusterLabs - Home' %}
      </a>
	</section>

	<!-- Menu -->
	<nav id="menu">
	  <header class="major">
		<h2>Menu</h2>
	  </header>
      <ul>                                
        <li><a href="/doc/">Documentation</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="/help.html">Help</a></li>
        <li><a href="/quickstart.html">Quickstart</a></li>
        <li><a href="/developers.html">Developers</a></li>
        <li><a href="/wiki/">Wiki</a></li>
      </ul>  
	</nav>

	<!-- Section -->
	<section>
	  <header class="major">
		<h2>Contact</h2>
	  </header>
      
	  <p>
        Stay up to date with the ClusterLabs community by subscribing to our
        mailing lists or by following the project development on Github.
      </p>
	  <ul class="contact">
		<li class="fab fa-github-alt"><a href="https://github.com/ClusterLabs">Github organization</a></li>
		<li class="fas fa-envelope"><a href="https://wiki.clusterlabs.org/wiki/Mailing_lists">Mailing lists</a></li>
		<li class="fas fa-rss"><a href="https://wiki.clusterlabs.org/wiki/Special:RecentChanges">Wiki Recent Changes</a></li>
	  </ul>
	</section>


    {% include footer.html %}
  </div>
</div>

