---
layout: default
---

  <!-- Here+CSS is how you do logo in SVG (to look nice where supported) with PNG fallback -->
  <section id="banner">
    <a href="/pacemaker.html" id="logo"></a>
  </section>

  <section id="navigation">
    <nav>
      <a href="/doc/">Documentation</a>
      <a href="/faq.html">FAQ</a>
      <a href="/help.html">Help</a>
      <a href="/quickstart.html">Quickstart</a>
      <a href="/developers.html">Developers</a>
      <a href="/wiki/">Wiki</a>
    </nav>
  </section>

  <section class="clear"></section>
  <main>
    <article>
      {{ content }}
    </article>
  </main>

