<?php
# Database settings
$wgDBserver         = "put-servername-here";
$wgDBname           = "put-database-name-here";
$wgDBuser           = "put-username-here";
$wgDBpassword       = "put-password-here";

# uncomment to run maintenance scripts that require higher privileges
#$wgDBadminuser      = "put-username-here";
#$wgDBadminpassword  = "put-password-here";
 
# Entropy source of last resort for authentication cookies
$wgSecretKey = "put-64-random-hex-chars-here";
?>
